body{
    background-image:url("../images/houndstooth-pattern.png");
}
#heading{
    background:orange;
    margin:5px 0px 5px 5px;
}
#directions{
    background:rgb(219, 188, 129);
    margin:15px 0px 15px 10px;
}
#randomNum{
    background:rgb(124, 207, 124);
    margin-bottom:15px;
    padding-bottom:30px;
}
.scoreBoard{
    background:rgb(62, 158, 214);

}
.crystal-image{
display:inline;
width:100px;
height:100px;

}
#targetNumber{
    background:rgb(124, 207, 124);
}
#imgOne{
    height:100px;
    width:100px;
    overflow:hidden;
    /* position:relative; */
}
#imgTwo{
    height:100px;
    width:100px;
    overflow:hidden;
    /* position:relative; */
    margin-right:25%;

}
#imgThree{
    height:100px;
    width:100px;
    overflow:hidden;
    margin-right:60%;

    /* position:relative; */
}
.images{
    height:100px;
    width:100px;
    
}
#btn3{
   margin-right:60%;
   
}
#score{
     background: rgb(72, 146, 72);
     display:inline;
     margin:25px 0px 0px 10px;


}
#scoreNum{
    background:rgb(72, 146, 72);

}